body{
  background-color: #b5ffe1;
  font-family: "Times New Roman", Times, serif;
}

div {
  padding-right: 100px;
  padding-left: 100px;
}

.navbar {
  float: left;
  color: rbg(0, 0, 0);
  text-align: center;
}
