:root {

  --darker: #00171a;
  --dark: #004346;
  --mid: #5BA194;
  --light: #b5ffe1;
  --lighter: #5ba194;
}

.bigtext {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 60px;
  color: var(--dark);
}

div {
  padding-right: 100px;
  padding-left: 100px;
}

.map {
  padding-right: 500px;
  padding-left: 500px;
  padding-top: 500px;
}

body{
  background-color: var(--light);
  font-family: "Times New Roman", Times, serif;
}

.navbar {
  float: left;
  background-color: rbg(0, 0, 0);
  text-align: center;
  padding: 15px 20px;
  font-size: 20px;
}
