:root {

  --darker: #00171a;
  --dark: #004346;
  --mid: #5BA194;
  --light: #b5ffe1;
  --lighter: #5ba194;
}


#myInput{
  color: var(--dark);

}

::placeholder {
  color: var(--dark);
}
.bigtext {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 60px;
  color: var(--dark);
}

div {
  padding-left: 25px;
}

.map {
  padding-right: 500px;
  padding-left: 500px;
  padding-top: 500px;
}

body{
  background-color: var(--light);
  font-family: "Times New Roman", Times, serif;
}

.navbar {
  float: left;
  background-color: rbg(0, 0, 0);
  text-align: center;
  padding: 15px 20px;
  font-size: 20px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header input[type='text'] {
  font-family: "Bebas Neue", sans-serif;
  width: min(400px, 80vw);
  font-size: larger;
  background-color: var(--lighter);
  border-color: var(--darker);
  border-style: solid;
  border-radius: 8px;
  padding: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.header input[type='text']:focus {
  outline: none;
  border-color: var(--dark);
  border-style: solid;
  border-bottom-left-radius: 0px;

}
.header button {
  font-family: "Bebas Neue", sans-serif;
  background-color: var(--light);
  border: none;
  border-radius: 8px;
  transition-property: filter, border;
  transition: .3s cubic-bezier(.34,.01,.62,1.03);
  border: 1px solid var(--lighter);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.header button:hover {
  transition: 0.5s cubic-bezier(.34,.01,.62,1.03);
  transition-property: filter, border;
  filter: drop-shadow(0 0 3px var(--darker));
  border: 1px solid var(--darker);
}
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--mid);
  border-bottom: 1px solid var(--dark);
  border-left: 1px solid var(--dark);
  border-right: 1px solid var(--dark);
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: var(--light);
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--light) !important;
  color: var(--mid);
}

.inputs{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}