:root {

  --darker: #00171a;
  --dark: #004346;
  --mid: #5BA194;
  --light: #b5ffe1;
  --lighter: #5ba194;
  --con-light: #DD9787;
  --con-dark: #8B2635;
}


#myInput {
  color: var(--dark);

}

::placeholder {
  color: var(--dark);
}

.bigtext {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 30px;
  margin: 0;
  color:  var(--con-light);
  flex-grow: 1;
}

.main-body-text {
  margin: 20px;
  width: 100%;
}

.map {
  padding-right: 10;
  padding-left: 10;
  padding-top: 10px;
  width: 100%;
  height: 100%
}

body {
  background-color: var(--light);
  font-family: "Times New Roman", Times, serif;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  justify-content: center;
}

.header {
  display: flex;
  margin-right: 5px;
}

.header input[type='text'] {
  font-family: "Bebas Neue", sans-serif;
  font-size: larger;
  background-color: var(--lighter);
  border-color: var(--darker);
  border-style: solid;
  border-radius: 8px;
  padding: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.header input[type='text']:focus {
  outline: none;
  border-color: var(--dark);
  border-style: solid;
  border-bottom-left-radius: 0px;

}

.header button {
  font-family: "Bebas Neue", sans-serif;
  background-color: var(--light);
  border: none;
  border-radius: 8px;
  transition-property: filter, border;
  transition: .3s cubic-bezier(.34, .01, .62, 1.03);
  border: 1px solid var(--lighter);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.header button:hover {
  transition: 0.5s cubic-bezier(.34, .01, .62, 1.03);
  transition-property: filter, border;
  filter: drop-shadow(0 0 3px var(--darker));
  border: 1px solid var(--darker);
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--mid);
  border-bottom: 1px solid var(--dark);
  border-left: 1px solid var(--dark);
  border-right: 1px solid var(--dark);
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: var(--light);
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--light) !important;
  color: var(--mid);
}

.inputs {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.embed-container {
  position: relative;
  padding-bottom: 80%;
  min-height: 100%;
  min-width: 100%;
  border-style: solid;
  border-radius: 20px;
  border-color: var(--darker);
}

.embed-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.side-container {
  display: flex;
  flex-direction: row;
  opacity: 0;
  animation: fadeIn 3s ease-out forwards;
}

.table {
  animation: fadeIn 3s ease-out forwards;
  text-align: center;
  font-size: 20px;
  color: var(--con-light);
  background-color: var(--con-dark);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.navbar {
  float: left;
  text-align: center;
  font-size: 20px;
  background-color: var(--con-dark);
  border-radius: 8px;
  padding: 0px;
  width: 100%;
  display: flex;
  align-items: center;
}

.county-name{
  justify-content: center;
  max-width:50%;
  width: fit-content;
  font-size: 60px;
  font-family: "Bebas Neue";
  color: var(--con-light);
  background-color: var(--con-dark);
  border-radius: 8px;
  padding: 0px;
  width: 100%;
  display: flex;
  align-items: center;
}

.stat{
  display: inline-flex; 
  width: 50%; 
  justify-content: center; 
  text-align: center; 
  font-family: 'Bebas Neue'; 
  font-size: 50px;
}

.stat-small {
  display: inline-flex; 
  width: 50%; 
  justify-content: center; 
  text-align: left; 

  font-family: 'Bebas Neue'; 
  font-size: 30px;
}

.stat-lower {
  justify-content: center; 
  margin: auto; 
  text-align: center; 
  font-family: 'Bebas Neue';
}

.bar{
  background-color: var(--con-dark); 
  width: 100%;
  border-radius: 8px; 
  position: absolute; 
  bottom: 0; 
  margin: auto; 
  color: var(--con-light); 
  font-size: 30px;
}

.navbar a {
  font-family: "Bebas Neue", sans-serif;
  float: left;
  color: var(--con-light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  border-radius: 8px;
  background-color: var(--con-light);
  color: var(--con-dark);
}
